/* Your CSS Code here. */
div .main{
	width:200px;
}
.heading {
    background-color: purple;
    border-left: 5px solid green;
    border-left-width: 5px;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}
